<div class="page-header">

    <h3>Checkout</h3>
    <form class="col s11" id="checkoutForm" action="" method="">
    <ul class="collapsible" data-collapsible="expandable">

        <li>
          <div class="collapsible-header left-align orange darken-2 active"><i class="material-icons">account_circle</i>CUSTOMER INFORMATION</div>


            <%# <div class="collapsible-body">%>
              <div class="row">
                <div class="input-field col s6">
                  <i class="material-icons prefix">account_circle</i>
                  <input id="icon_prefix" name="name" value="<%= user.facebook.name || user.local.name %>"  type="text" class="validate">
                  <label id="userName" for="icon_prefix"></label>
                </div>
                <div class="input-field col s5">
                  <i class="material-icons prefix">Phone</i>
                  <input id="icon_telephone" name="phone" type="tel" class="validate" length="10">
                  <label for="icon_telephone">
                    <% if(user.facebook.phone || user.local.phone){ %>
                      <%= user.facebook.phone || user.local.phone %></label>
                    <%}else{%>
                      Telephone
                    <%}%>
                </div>
                <!-- <div class="input-field col s11">
                  <i class="material-icons prefix">home</i>
                  <input id="icon_address" type="text" class="validate">
                  <label for="icon_address">Address</label>
                </div> -->
                <div class="input-field col s11">
                  <i class="material-icons prefix">email</i>
                  <input id="email" name="email" value="<%= user.facebook.email || user.local.email %>" type="email" class="validate">
                  <label for="email" data-error="wrong" data-success="right"></label>
                </div>
              </div>
              <p style="text-align: center">
                  <a href="#" class="waves-effect waves" type="submit" name="action">Edit</a>
              </p>
          <%# </div>%>
        </li>

        <li>
          <div class="collapsible-header left-align orange darken-2 active"><i class="material-icons">home</i>SHIPPING INFORMATION</div>
          <div class="collapsible-body">
              <div class="row">
                <div class="input-field col s6">
                  <i class="material-icons prefix">account_circle</i>
                  <input id="icon_prefix" name="shipToName" value="<%= user.facebook.name || user.local.name %>"  type="text" class="validate">
                  <label for="icon_prefix">Name</label>
                </div>
                <div class="input-field col s5">
                  <i class="material-icons prefix">phone</i>
                  <input id="icon_telephone" name="shipPhone" type="tel" class="validate" length="10">
                  <label for="icon_telephone">Telephone</label>
                </div>
                <div class="input-field col s11">
                  <i class="material-icons prefix">home</i>
                  <input id="icon_address" name="shippingAddress" type="text" class="validate">
                  <label for="icon_address">Address</label>
                </div>
                <div class="input-field col s11">
                  <i class="mdi-editor-mode-edit prefix"></i>
                  <input id="icon_message" name="message" type="text" class="validate" length="140">
                  <label for="icon_message" data-error="wrong" data-success="right">Personal Message</label>
                </div>
              </div>
              <!-- <p style="text-align: center">
                  <a href="#" class="waves-effect waves" type="submit" name="action">Edit</a>
              </p> -->

          </div>
        </li>
        <li>
          <div class="collapsible-header left-align orange darken-2 active"><i class="material-icons">credit_card</i>BILLING INFORMATION</div>
          <div class="collapsible-body">
              <div class="row">
                <div class="input-field col s5">
                  <i class="material-icons prefix">credit_card</i>
                  <input id="icon_prefix" name="number" type="number" value="<%# user.creditCard.number %>" class="validate" length="16">
                  <label for="icon_prefix">Card Number</label>
                </div>
                <div class="input-field col s4">
                  <i class="material-icons prefix">date</i>
                  <input id="icon_exp" name="expDate" value="<%# user.creditCard.expDate %>" type="tel" class="validate">
                  <label for="icon_exp">Expiration</label>
                </div>
                <div class="input-field col s2">
                  <i class="material-icons prefix">cvv</i>
                  <input id="icon_cvv" name="cvv" value="<%# user.creditCard.cvv %>" type="tel" class="validate">
                  <label for="icon_cvv">CVV</label>
                </div>
                <div class="input-field col s11">
                  <i class="material-icons prefix">account_circle</i>
                  <input id="icon_prefix" name="creditName" value="<%= user.facebook.name || user.local.name %>" type="text" class="validate">
                  <label for="icon_prefix">Name: </label>
                </div>
                <div class="input-field col s11">
                  <i class="material-icons prefix">home</i>
                  <input id="icon_address" name="address" value="<%# user.creditCard.address %>" type="text" class="validate">
                  <label for="icon_address">Address</label>
                </div>
              </div>
              <p style="text-align: center">
                  <a href="#" class="waves-effect waves" type="submit" name="action">Edit</a>
              </p>

          </div>
        </li>
        <li>
          <div class="collapsible-header left-align orange darken-2 active"><i class="mdi-action-shopping-cart"></i>ITEMS TO PURCHASE</div>
          <div class="collapsible-body">
              <div class="row">
                  <br>
                  <div class="col s12">Total Price: <span id="totPrice" style="font-weight: bold"></span></div>
                  <br>
                  <div class="col s3">Item number: <span id="p0" style="font-weight: bold">order.product1</span></div>
                  <div class="col s3">Item number: <span id="p1" style="font-weight: bold">order.product2</span></div>
                  <div class="col s3">Item number: <span id="p2" style="font-weight: bold">order.product3</span></div>
                  <div class="col s3">Item number: <span id="p3" style="font-weight: bold">order.product4</span></div>

              </div>
          </div>
          <p style="text-align: center">
              <a id="cancelB" href="/gifts" class="btn btn-flat white">Cancel</a>&nbsp;
              <%# <button id="confirmBtn" class="waves-effect waves-light btn" type="submit" name="action">Submit
                <i class ="material-icons right">send</i>
              </button>%>
              <input id="confirmBtn" value="CONFIRM PURCHASE" class="waves-effect waves-light btn" type="submit" name="action">
          </p>

        </li>

    </ul>
    </form>
</div>

<script type="text/javascript">

  var $confirm = $('#confirmBtn')
  var $checkoutForm = $('#checkoutForm')

  //console.log("this is session storage", sessionStorage.getItem('product1'));
  // SET THE VALUE OF THE ITEM IDS
  for (var i = 0; i < 4; i++) {
    $('#p'+i).text(sessionStorage.getItem('product'+i))
  }
  // SET THE TOTAL PRICE VALUE
  $('#totPrice').text('$'+sessionStorage.getItem('savedTotalPrice'))


  $checkoutForm.submit(function(evt) {
    evt.preventDefault() // prevent a page refresh

    // GRAB THE VALUES FROM THE FORM
    var data = {}
    $('#checkoutForm input').each(function(i, el){
      data[$(el).attr('name')] = $(el).val()
    })

    //console.log(order);

    // SET THE VALUES FOR THE DATABASE
    var orderDB = {
      product1: sessionStorage.getItem('product0'),
      product2: sessionStorage.getItem('product1'),
      product3: sessionStorage.getItem('product2'),
      product4: sessionStorage.getItem('product3'),
      totalPrice: sessionStorage.removeItem('savedTotalPrice'),
      shippingAddress: data['shippingAddress'],
      shipToName: data['shipToName'],
      shipPhone: data['shipPhone'],
      message: data['message']
    }
    var userDB = {
      phone: data['phone'],
      creditCard: {
        number: data['number'],
        expDate: data['expDate'],
        creditName: data['creditName'],
        cvv: data['cvv'],
        address: data['address']
      }
    }
    $.ajax({
      url: "/users/"+ user._id,
      method: 'PATCH',
      data: userDB
    }).done(function(data) {
      console.log("finished user PATCH");
      $.ajax({
        url: "/orders/"+ user._id,
        method: 'POST',
        data: orderDB
      }).done(function(data) {
        console.log("finished order POST");
        // REMOVE THE SESSION STORAGE
        for (var i = 0; i < 4; i++) {
          sessionStorage.removeItem('product'+i);
          sessionStorage.removeItem('image'+i);
        }
        sessionStorage.removeItem('savedTotalPrice');
        Materialize.toast("PURCHASE CONFIRMED!",4000)
        // $('#cancelB').hide()
        // $('#confirmBtn').hide()
        setTimeout(function(){
          window.location = '/gifts'
        }, 4000);

        //window.location = '/gifts'
      });
    });

  })//end of the click/submit function

  // $('#cancelB').on('click',function(evt) {
  //   evt.preventDefault()
  //   console.log("cancel Button CLICKED!");
  //   console.log(<%-JSON.stringify(user)%>);
  // })

</script>
