<div class="page-header">

    <h3><%= user.local.name || user.facebook.name %>'s GiftBot Account</h3>

    <div class="row">
        <div class="col s12">
          <ul class="tabs">
            <li class="tab col s2"><a class="active" href="#profile">Profile</a></li>
            <li class="tab col s2"><a href="#billing">Billing</a></li>
            <li class="tab col s2"><a href="#purchase">Purchases</a></li>
            <li class="tab col s2 disabled"><a href="#test4"></a></li>
            <li class="tab col s2 disabled"><a href="#test5"></a></li>
            <li class="tab col s2 disabled"><a href="#test6"></a></li>
          </ul>
        </div>
        <div id="profile" class="col s12" style="text-align: left">
            <!-- <h3>Profile</h3> -->
            <div class="row">
                <div class="col s6 card-panel grey lighten-5 z-depth-1" style="float: left">
                    <p class="mdi-action-account-box">NAME: <span style="font-weight: bold"><%= user.local.name || user.facebook.name %></span></p>
                </div>
                <div class="col s6 card-panel grey lighten-5 z-depth-1">
                    <p class="mdi-hardware-phone-android">PHONE NUMBER: <span style="font-weight: bold">+91 9912776151</span></p>
                </div>
                <div class="col s12 card-panel grey lighten-5 z-depth-1">
                    <p class="mdi-action-home">ADDRESS: <span style="font-weight: bold">1234 Street, Santa Monica, CA 90401</span></p>
                </div>
                <div class="col s12 card-panel grey lighten-5 z-depth-1">
                    <p class="mdi-content-mail">EMAIL: <span style="font-weight: bold"><%= user.local.email || user.facebook.email %></span></p>
                </div>
                <!-- <div class="col s12 card-panel grey lighten-5 z-depth-1">
                  <p class="mdi-action-lock">Password: <span style="font-weight: bold"><%= user.local.password || user.facebook.token %></span></p>
                </div> -->

            </div>
            <!-- <div class="divider"></div> -->
            <p style="text-align: center">
                <a href="/profileEdit" class="waves-effect waves" type="submit" name="action">Edit</a>
            </p>
        </div>
        <div id="billing" class="col s12" style="text-align: left">
          <!-- <h3>Billing</h3> -->
            <div class="row">
                <div class="col s6 card-panel grey lighten-5 z-depth-1">
                    <p class="mdi-action-credit-card">CREDIT CARD NUMBER: <span style="font-weight: bold">1234 1234 1234 1234</span></p>
                </div>
                <div class="col s4 card-panel grey lighten-5 z-depth-1">
                    <p>EXP. DATE (MM/YY): <span style="font-weight: bold">MM/YY</span></p>
                </div>
                <div class="col s2 card-panel grey lighten-5 z-depth-1">
                    <p>CVV: <span style="font-weight: bold">1234</span></p>
                </div>
                <div class="col s12 card-panel grey lighten-5 z-depth-1">
                    <p class="mdi-action-account-box">NAME (on card): <span style="font-weight: bold"><%= user.local.name || user.facebook.name %></span></p>
                </div>
                <div class="col s12 card-panel grey lighten-5 z-depth-1">
                    <p class="mdi-action-home">ADDRESS: <span style="font-weight: bold">1234 Street, Santa Monica, CA 90401</span></p>
                </div>
                <!-- <div class="divider"></div> -->
                <p style="text-align: center">
                    <a href="#" class="waves-effect waves" type="submit" name="action">Edit</a>
                </p>
            </div>
        </div>
        <div id="purchase" class="col s12" style="text-align: left">
          <!-- <h3>Billing</h3> -->
            <div class="col s12 card-panel grey lighten-5 z-depth-1">
                <p class="mdi-action-shopping-cart">ORDER HISTORY: <span style="font-weight: bold">TBD</span>
                  <form class="col s12">
                    <div class="row">
                        <br>
                        <div class="col s6">Order Total: <span style="font-weight: bold"><%= order.totalPrice %></span></div>
                        <div class="col s6">Order Date: <span style="font-weight: bold">TBD</span></div>
                        <br>
                        <div class="col s3">Item number: <span style="font-weight: bold"><%= order.product1%></span></div>
                        <div class="col s3">Item number: <span style="font-weight: bold"><%= order.product2%></span></div>
                        <div class="col s3">Item number: <span style="font-weight: bold"><%= order.product3%></span></div>
                        <div class="col s3">Item number: <span style="font-weight: bold"><%= order.product4%></span></div>

                    </div>
                  </form>

                </p>
            </div>
        </div>
    </div>
</div>
      <!-- <div id="test4" class="col s12">Test 4</div> -->
  <!-- </div>

<a href="/logout" class="btn btn-default btn-sm">Logout</a>

</div> -->
<script type="text/javascript">
  var user = <%-JSON.stringify(user)%>
</script>
<!-- <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="well">
          <% if(user.local.name) { %>
            <h3>Locally Stored User</h3>

            <p>
                <strong>Name</strong>: <%= user.local.name %><br>
                <strong>id</strong>: <%= user._id %><br>
                <strong>email</strong>: <%= user.local.email %><br>
                <strong>password</strong>: <%= user.local.password %>
            </p>
          <% }else{ %>
            <h3>Facebook User</h3>

            <p>
                <strong>Name</strong>: <%= user.facebook.name %><br>
                <strong>id</strong>: <%= user.facebook.id %><br>
                <strong>email</strong>: <%= user.facebook.email %><br>
                <strong>token</strong>: <%= user.facebook.token %>
            </p>
            <% } %>
        </div>
    </div>
</div> -->
